
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1487775430908'); /* IE9*/
  src: url('iconfont.eot?t=1487775430908#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1487775430908') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1487775430908') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1487775430908#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-comments:before { content: "\e69b"; }

.icon-email:before { content: "\e69f"; }

.icon-form:before { content: "\e6a2"; }

.icon-calendar:before { content: "\e6bf"; }

.icon-attachment:before { content: "\e6c0"; }

.icon-link:before { content: "\e6f7"; }

.icon-office:before { content: "\e705"; }

.icon-map:before { content: "\e715"; }

.icon-bussinessman:before { content: "\e726"; }

.icon-mobilephone:before { content: "\e72a"; }

