body, section {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(40, 48, 49);
    /* background-color: #f7f8f9; */
    font-family: '微软雅黑';
}
hr {
    margin-bottom: 20px;
}

section {
    padding: 20px 40px;
    background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin-top: 0;
}
h1 {
    font-size: 22px;
    margin-bottom: 14px;
}
h2 {
    font-size: 20px;
    margin-bottom: 12px;
    /* font-weight: bold; */
}
h3 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
    color: rgb(0, 172, 119);
}
h4 {
    font-size: 16px;
    margin-bottom: 8px;
    color: rgb(40, 48, 49);
}
p {
    margin-top: 0;
    margin-bottom: 6px;
    font-size: 16px;
    /* color: rgb(88, 88, 88); */
}
/* a 链接样式 */
/* 一个链接 */
a:link {
    color: #fff;
}
/* 已经访问过的 */
a:visited {
    color: #fff;
}
/* 鼠标悬停 */
a:hover {
}
/* 活动 */
a:active {
}
/* 调整 icon 的样式 */
/* a .iconfont { */
    /* text-decoration: none; */
/* } */
.icon {
    margin-right: 10px;
}
/* 板块标题 */
.title {
    font-size: 18px;
    font-weight: normal;
    color: inherit;
    margin-top: 10px;
}
#container {
    /* 大容器的背景色 */
    /* background-color: rgb(40, 48, 49); */
    /* border-radius: 10px; */
    /* width: 980px; */
    /* margin: 20px auto; */
    /* 文本颜色 */
    color: #212529;
    /* 阴影 */
    box-shadow: 2px 2px 15px #ccc;
    overflow: hidden;
}
/* 内容区 */
.content {
}
/* 个人信息 */
.info {
    color: #fff;
    font-size: 14px;
    float: left;
    width: 200px;
    background-color: rgb(40, 48, 49);
}
.info__name {
    font-size: 24px;
    text-align: center;
}
.info .title {
    /* color: #fff; */
}
.info__email {
    margin-bottom: 20px;
}
.info__blog {
    margin-bottom: 20px;
}
.info__qr {
    /* width: 200px; */
    width: 100%;
}
/* 工作经历 */
.pro {
    margin-left: 280px;
}
.project__items, .project__item {
    list-style: none;
    padding: 0;
}
.project__item {
    padding-left: 20px;
    position: relative;
}
/* 圆点 */
.project__item::before {
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: rgb(101, 156, 174);
    /* background-color: rgb(141, 166, 173); */
    position: absolute;
    top: 6px;
    right: 20px;
    left: 0;
}
/* 竖线 */
.project__item::after {
    display: block;
    content: "";
    width: 2px;
    position: absolute;
    top: 24px;
    left: 4px;
    right: 20px;
    bottom: 0;
    background-color: #ccc;
}
/* 工作职位 */
.project__job {
    display: inline-block;
    margin-right: 20px;
    color: rgb(101, 156, 174);
}
/* 工作时间 */
.project__time {
    display: inline-block;
    color: rgb(101, 156, 174);
}
/* 自我评价 */
.introduce {
    margin-left: 280px;
}
/* 其他 */
.other {
    margin-left: 280px;
}
/* 响应式设计之 手机样式 */
@media (max-width: 767px) {
    section {
        padding: 10px;
    }
    .info {
        /* float: initial; */
        float: unset;
        width: unset;
        overflow: hidden;
    }
    .info__blog, .info__email {
        margin-bottom: unset;
    }
    .info__qr {
        display: none;
    }
    .pro, .introduce {
        margin-left: 0;
    }
}
